:root {
  --star-tile-w: 420px;
  --star-tile-h: 260px;
  --star-tile: var(--star-tile-w) var(--star-tile-h);

  margin: 0;
  min-height: 100vh;

  background:
    /* Sterne */
    radial-gradient(
      1px 1px at
      calc(var(--star-tile-w) * 0.0476)
      calc(var(--star-tile-h) * 0.1538),
      white, transparent
    ),
    radial-gradient(
      1px 1px at
      calc(var(--star-tile-w) * 0.2143)
      calc(var(--star-tile-h) * 0.4615),
      white, transparent
    ),
    radial-gradient(
      1px 1px at
      calc(var(--star-tile-w) * 0.3571)
      calc(var(--star-tile-h) * 0.2308),
      white, transparent
    ),
    radial-gradient(
      1px 1px at
      calc(var(--star-tile-w) * 0.5)
      calc(var(--star-tile-h) * 0.1154),
      white, transparent
    ),
    radial-gradient(
      1px 1px at
      calc(var(--star-tile-w) * 0.619)
      calc(var(--star-tile-h) * 0.6538),
      white, transparent
    ),
    radial-gradient(
      1px 1px at
      calc(var(--star-tile-w) * 0.7619)
      calc(var(--star-tile-h) * 0.3462),
      white, transparent
    ),
    radial-gradient(
      1px 1px at
      calc(var(--star-tile-w) * 0.881)
      calc(var(--star-tile-h) * 0.7692),
      white, transparent
    ),
    radial-gradient(
      1px 1px at
      calc(var(--star-tile-w) * 0.2857)
      calc(var(--star-tile-h) * 0.7692),
      white, transparent
    ),
    radial-gradient(
      1px 1px at
      calc(var(--star-tile-w) * 0.7143)
      calc(var(--star-tile-h) * 0.5385),
      white, transparent
    ),

    /* Nachthimmel */
    linear-gradient(to bottom, #080e16, #000000) no-repeat,

    /* Hintergrundfarbe */
    #000000;

  background-size:
    var(--star-tile),
    var(--star-tile),
    var(--star-tile),
    var(--star-tile),
    var(--star-tile),
    var(--star-tile),
    var(--star-tile),
    var(--star-tile),
    var(--star-tile),
    auto 100vh;
}
